{%extends 'base.html'%}
{%block content%}
<style>
    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpUOu9cH_fCxFr0krzjhgEx-iwnwfKfGD9xg&usqp=CAU");
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    #abt {

        width: 1200px;
        border: 15px solid rgb(100, 105, 236);
        padding: 50px;
        margin: 20px;
        }

</style>
<br><br><br>
<center>
<div id="abt" >
<h1 class="text-light">ABOUT US</h1>
<p class="text-light">MEDCARE Hospital is a Multi speciality hospital that truly cares for life. A pioneer in the field of education and healthcare, We promise to deliver the highest level of professional expertise and world-class care. Deployment of ultra-modern technology further adds to its strength and commitment to give its patients the best of healthcare. The quality domains apply to all staff and departments.</p>
</div>
</center>
{%endblock%}